* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Nunito Sans", sans-serif;
  border: none;
  outline: none;
}
body {
  background-color: black;
  color: white;
}

/* ========= STYLE APP CSS ============*/
.section {
  width: 43%;
  margin: 65px auto;
}
.section h1 {
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 20px;
  color: rgb(248, 59, 248);
}
@media only screen and (max-width: 600px) {
    .section {
        width: 100%;
        margin: 65px 20px;
      }

    
}
